stages:
  - tests
  - pages
  - download_dependencies
  - build_sources
  - build_and_publish_docker_image

unit_tests:
  stage: tests
  image: dadebia/codebox-base-docker:latest
  tags:
    - docker-linux
  services:
    - name: mysql:8.0.41
      alias: mysql
  variables:
    MYSQL_ROOT_PASSWORD: password
    MYSQL_DATABASE: codebox-test
    MYSQL_USER: codebox
    MYSQL_PASSWORD: password
    GOPATH: "$CI_PROJECT_DIR/.go"
    GOMODCACHE: "$GOPATH/pkg/mod"
    GOCACHE: "$GOPATH/cache"
  cache:
    key: go-modules
    paths:
      - .go/pkg/mod
      - .go/cache
  script:
    - cp .gitlab-ci/codebox.test.env codebox.env
    - go mod tidy
    - export GIN_MODE=release
    - export CODEBOX_BASE_DIR=$(pwd)
    - export CODEBOX_ENV_FILE="${CODEBOX_BASE_DIR}/codebox.env"
    - export CODEBOX_TEMPLATES_FOLDER="${CODEBOX_BASE_DIR}/html"
    - echo "CODEBOX_BASE_DIR is set to ${CODEBOX_BASE_DIR}"
    - echo "CODEBOX_ENV_FILE is set to ${CODEBOX_ENV_FILE}"
    - echo "CODEBOX_TEMPLATES_FOLDER is set to ${CODEBOX_TEMPLATES_FOLDER}"
    - echo "Migrating test db..."
    - ./scripts/migrate-test-db.sh
    - echo "Running tests..."
    - go test -v -p 1 ./... -coverprofile=coverage.out
    - go tool cover -func=coverage.out | grep total | awk '{print $3}'
  artifacts:
    paths:
      - coverage.out
  coverage: '/total:\s+\(.*\)\s+([0-9\.]+)%/'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: always
    - if: '$CI_COMMIT_BRANCH == "master"'
      when: always

pages:
  stage: pages
  pages: true
  image: dadebia/codebox-release-cli:latest
  variables:
    LC_ALL: C.UTF-8
    LANG: C.UTF-8
  tags:
    - docker-linux
  script:
    # generate OpenAPI specification
    - sed -i "s/{{version_placeholder}}/${CI_COMMIT_TAG}/g" main.go
    - go install github.com/swaggo/swag/cmd/swag@latest
    - swag init
    - cp docs/swagger.yaml docs/source/_specs

    # build docs using sphynx
    - python3 -m venv .venv
    - source .venv/bin/activate
    - pip install setuptools
    - pip install wheel
    - cd docs
    - pip install -r requirements.txt
    - sphinx-build -M html ./source ./build
    - cp -r ./build/html ../public
  when: always
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_TAG

# Start of download_cli stage
download_cli:
  stage: download_dependencies
  image: dadebia/codebox-release-cli:latest
  tags:
    - docker-linux
  script:
    - ./scripts/download-cli.sh
  artifacts:
    paths:
      - bin/cli
    expire_in: 1 hour
  when: on_success
  rules:
    - if: $CI_COMMIT_TAG

# Retrieve the recommended runner version
retrieve_recommended_runner_version:
  stage: download_dependencies
  image: dadebia/codebox-release-cli:latest
  tags:
    - docker-linux
  script:
    - ./scripts/retrieve-latest-runner-version.sh
  artifacts:
    paths:
      - recommended_runner_version.txt
    expire_in: 1 hour
  when: on_success
  rules:
    - if: $CI_COMMIT_TAG

# Start of build_sources stage
build_server:
  stage: build_sources
  image: golang:1.24.1
  tags:
    - docker-linux
  dependencies:
    - retrieve_recommended_runner_version
  variables:
    GOOS: linux
    GOARCH: amd64
  script:
    - export RECOMMENDED_RUNNER_VERSION=$(cat recommended_runner_version.txt)
    - echo "Recommended Runner Version=${RECOMMENDED_RUNNER_VERSION}"
    - rm -rf recommended_runner_version.txt
    - mkdir -p bin
    - go build -o bin/codebox -ldflags "-X gitlab.com/codebox4073715/codebox/config.ServerVersion=${CI_COMMIT_TAG} -X gitlab.com/codebox4073715/codebox/config.RecommendedRunnerVersion=${RECOMMENDED_RUNNER_VERSION}" main.go
  artifacts:
    paths:
      - bin/codebox
    expire_in: 1 hour
  when: on_success
  rules:
    - if: $CI_COMMIT_TAG


build_frontend:
  stage: build_sources
  image: node:20.12.2
  tags:
    - docker-linux
  script:
    - cd app
    - sed -i -e "s/{{ replace_me }}/$CI_COMMIT_TAG/g" .env.production
    - npm install
    - npm run build
  artifacts:
    paths:
      - app/build/
    expire_in: 1 hour
  when: on_success
  rules:
    - if: $CI_COMMIT_TAG


# Start of build_and_publish_docker_image stage
build_and_publish_docker_image:
  stage: build_and_publish_docker_image
  image: docker:24.0.5-dind
  tags:
    - docker-linux
  dependencies:
    - build_server
    - build_frontend
    - download_cli    
  script:
    - docker login -u "$DOCKERHUB_USERNAME" -p "$DOCKERHUB_TOKEN"
    - docker build -t dadebia/codebox:${CI_COMMIT_TAG} .
    - docker push dadebia/codebox:${CI_COMMIT_TAG}

    # Tag and push docker image as latest only if is not a beta version
    - |
      if ! [[ $CI_COMMIT_TAG =~ ^.*beta.* ]] ; then
        docker tag dadebia/codebox:${CI_COMMIT_TAG} dadebia/codebox:latest
        docker push dadebia/codebox:latest;
      fi;
  when: on_success
  rules:
    - if: $CI_COMMIT_TAG
