*.db
*__debug*
codebox.env
uploads/
data/
agent
codebox-agent-linux-amd64
*.journal
*.db-journal
*codebox-cli*
bin/
test-vpn/
codebox_debug
dist/
.venv/
venv/
*.pyc
docs/build
public/
swagger.json
swagger.yaml
coverage.out
recommended_runner_version.txt
