stages:
  - tests
  - pages
  - download_dependencies
  - build_sources
  - build_and_publish_docker_image

include:
  - local: .gitlab/ci/unit_tests.yml

  - local: .gitlab/ci/pages.yml

  - local: .gitlab/ci/download_cli.yml

  - local: .gitlab/ci/retrieve_recommended_runner_version.yml

  - local: .gitlab/ci/build_sources.yml

  - local: .gitlab/ci/build_and_publish_docker_image.yml
