/* width */
.workspace-logs-container::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.workspace-logs-container::-webkit-scrollbar-track {
    background: var(--background-color);
}

/* Handle */
.workspace-logs-container::-webkit-scrollbar-thumb {
    background: var(--grey-800);
    border-radius: 4px;
}

/* Handle on hover */
.workspace-logs-container::-webkit-scrollbar-thumb:hover {
    background: var(--grey-700);
}

.workspace-containers ul{
    height: 100%;
    padding: 0;
    list-style: none;
    width: 25%;
    max-width: 450px;
    min-width: 100px;
    border: solid var(--background-divider) 1px;
    border-radius: 4pt;
}

.workspace-containers ul li {
    padding: 8pt 4pt;
    border-top: solid var(--background-divider) 1px;
    cursor: pointer;
}

.workspace-containers ul li:hover{
    background: var(--background-color-paper);
}
