:root {
    --background-color: #05070A;
    --background-color-paper: #0C1017;
    --background-divider: hsla(220, 20%, 25%, 0.6);
    --blue: #066fd1;
    --indigo: #4263eb;
    --purple: #ae3ec9;
    --pink: #d6336c;
    --red: #d63939;
    --orange: #f76707;
    --yellow: #f59f00;
    --green: #2fb344;
    --teal: #0ca678;
    --cyan: #17a2b8;
    --black: #000000;
    --white: #ffffff;
    --gray: #ffffff;
    --grey-50: hsl(213, 30%, 96%);
    --grey-100: hsl(213, 22%, 91%);
    --grey-200: hsl(213, 18%, 89%);
    --grey-300: hsl(213, 18%, 81%);
    --grey-400: hsl(213, 13%, 71%);
    --grey-500: hsl(213, 12%, 64%);
    --grey-600: hsl(213, 15%, 47%);
    --grey-700: hsl(213, 11%, 31%);
    --grey-800: hsl(213, 12%, 22%);
    --grey-900: hsl(213, 11%, 11%);
}
