version: '3'

services:
  redis:
    image: redis:7.4.1
    restart: always

  db:
    image: mysql:8.0.41
    environment:
      MYSQL_ROOT_PASSWORD: ${CODEBOX_DB_ROOT_PASSWORD:-password}
      MYSQL_DATABASE: ${CODEBOX_DB_NAME:-codebox}
      MYSQL_USER: ${CODEBOX_DB_USER:-codebox}
      MYSQL_PASSWORD: ${CODEBOX_DB_PASSWORD:-password}
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
    volumes:
      - codeboxdb:/var/lib/mysql
    restart: always

  phpmyadmin:
    depends_on:
      - db
    image: phpmyadmin
    restart: always
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: ${CODEBOX_DB_ROOT_PASSWORD:-password}
    labels:
      - com.codebox.port.phpmyadmin=80
      - com.codebox.port.phpmyadmin.public=false

  codebox:
    build: .
    cap_add:
      - NET_ADMIN
      - cap_net_admin
      - cap_net_raw
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - vscode_server:/vscode-server
      - go_home:/go-home
    restart: always

volumes:
  codeboxdb:
  vscode_server:
  go_home:
