@import url("../../theme/palette.css");

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color-paper);
    color: #fff;
    padding: 5pt;
}

.navbar-links {
    display: flex;
    list-style: none;
    padding: 0;
}

.navbar-links li {
    margin-left: 20pt;
}

.navbar-links a {
    color: var(--white);
    text-decoration: none;
}

.navbar-right {
    display: flex;
    align-items: center;
    margin-right: 10pt;
}

.navbar-user {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.navbar-user img {
    border-radius: 100%;
    margin-left: 10px;
}

.navbar-user .user-details {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.navbar-user .user-details span {
    font-size: 11pt;
}

.navbar-user .user-details small {
    font-size: 8.5pt;
    color: var(--grey-400);
}

.navbar-user .user-dropdown {
    position: absolute;
    background-color: var(--background-color-paper);
    z-index: 1;
    bottom: -80pt;
    list-style: none;
    width: calc(100% + 15pt);
    padding: 0;
}

.navbar-user .user-dropdown li {
    padding: 10px 7px;
}

.navbar-user .user-dropdown li span {
    margin-left: 10pt;
}

.navbar-user .user-dropdown li:hover {
    background-color: var(--background-divider);
}

.divider {
    border: solid var(--background-divider) 1px;
    height: 30px;
    margin: 0 10pt;
}

.dropdown-menu-hamburger{
    display: none;
}

@media only screen and (max-width: 600px) {
    .navbar-links {
        position: fixed;
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        width: 100%;
        top: 38px;
        display: none;
    }

    .navbar-links li {
        padding: 7pt 5pt;
        background-color: var(--background-color-paper);
        margin-left: -7px;
        border-top: solid var(--background-divider) 1px;
    }

    .dropdown-menu-hamburger{
        display: block;
    }
}