@import url("../../palette.css");

.button {
    padding: 7pt 25pt;
    font-size: 11pt;
    border-radius: 5pt;
    font-family: "Inter";
    cursor: pointer;
    text-decoration: none;
}

.button.primary {
    color: var(--white);
    background-color: var(--blue);
    border: none;
}

.button.outline-white {
    color: var(--white);
    border: solid var(--white) 1px;
    background: transparent;
}

.button.outline-primary {
    color: var(--blue);
    border: solid var(--blue) 1px;
    background: transparent;
}

.button.warning{
    color: var(--white);
    background-color: var(--orange);
    border: none;
}