// _custom.scss

// import tabler's variables and bootstrap's functions
@import "bootstrap/scss/functions";
@import "@tabler/core/scss/_variables.scss";

$dark: #060f1b;

// Import the rest of Bootstrap
@import "@tabler/core/scss/tabler.scss";

.menu-title {
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-top: 0.7rem;
    margin-bottom: 0.5rem;
    padding-left: 0.7rem;
    color: var(--tblr-secondary-rgb);
    letter-spacing: 0.05em;
    font-weight: 500;
}

@media screen and (max-width: 992px) {
    .superuser-navbar {
        display: none;
    }
}

.user-dropdown {
    text-decoration: none !important;

    .dropdown-toggle:after {
        display: none;
    }

    .btn-link:hover {
        text-decoration: none !important;
    }
}

.btn-icon-only {
    padding: 0.375rem 0.5rem;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
        width: 16px;
        height: 16px;
        margin: 0;
    }
}

.form-check-input-light:checked {
    background-color: var(--tblr-light);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3e%3cpath fill='none' stroke='%230c1e34' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8.5l2.5 2.5l5.5 -5.5'/%3e%3c/svg%3e");
}

@media (min-width: 992px) {
    .navbar-expand-lg .nav-item.active:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -0.25rem;
        border: 0 var(--tblr-border-style) #fff;
        border-bottom-width: 2px;
    }
}