// _custom.scss

// import tabler's variables and bootstrap's functions
@import "bootstrap/scss/functions";
@import "@tabler/core/scss/_variables.scss";

$dark: #0a192c;

// Import the rest of Bootstrap
@import "@tabler/core/scss/tabler.scss";

.menu-title {
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-top: 0.7rem;
    margin-bottom: 0.5rem;
    padding-left: 0.7rem;
    color: var(--tblr-secondary-rgb);
    letter-spacing: 0.05em;
    font-weight: 500;
}

@media screen and (max-width: 992px) {
    .superuser-navbar {
        display: none;
    }
}

.user-dropdown {
    text-decoration: none !important;
   
    .dropdown-toggle:after {
        display: none;
    }

    .btn-link:hover {
        text-decoration: none !important;
    }
}
