@import url("../../palette.css");

.card {
    background-color: var(--background-color);
    width: max-content;
    padding: 10pt;
    border-radius: 7px;
    border: solid 1px var( --background-divider);
    margin: 10pt;
}